body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  color: #fff;
  padding: 20px;
  text-align: center;
}

#work {
  height: 100vh;
  margin-bottom: 170px;
}

.gallery {
  width: 400px;
  height: 400px;
  margin: auto;
}

.gallery img,
.gallery video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 20px 0;
  border: 1.5px solid #b2b2b2;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 50px 0;
}
